apiVersion: apps/v1
kind: DaemonSet
metadata:
  namespace: {{ .Release.Namespace | quote }}
  name: {{ include "kubeservice-cpupools-controller.controller.serviceAccountName" . }}
  labels:
    {{- include "kubeservice-cpupools-controller.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      name: {{ include "kubeservice-cpupools-controller.controller.serviceAccountName" . }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        name: {{ include "kubeservice-cpupools-controller.controller.serviceAccountName" . }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ include "kubeservice-cpupools-controller.controller.serviceAccountName" . }}
          image: "{{ .Values.controller.image.repository }}:{{ .Values.controller.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: imagePullPolicy: {{ .Values.controller.image.pullPolicy }}
          ## --cpusetroot needs to be set to the root of the cgroupfs hierarchy used by Kubelet for workloads
          command: [ "/cpusets-controller", "--poolconfigs=/etc/cpusets-pool", "--cpusetroot=/rootfs/sys/fs/cgroup/cpuset/kubepods/" ]
          resources:
            {{- toYaml .Values.controller.resources | nindent 12 }}
          volumeMounts:
            - name: time-mount
              mountPath: /etc/localtime
              readOnly: true
            - mountPath: /etc/cpusets-pool
              name: cpusets-configmaps
            ## -- do not mount kubepods under /sys to avoid circular linking
            - mountPath: /rootfs/sys/fs/cgroup/cpuset/kubepods/
              name: kubepods
            - mountPath: /var/lib/kubelet/device-plugins/
             name: checkpointfile
             readOnly: true
          env:
          - name: NODE_NAME
            valueFrom:
              fieldRef:
                fieldPath: spec.nodeName
          - name: FILE_MATCH
            value: "cpusets-*.yaml"
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
      volumes:
      - name: time-mount
        hostPath:
          path: /etc/localtime
      ## CPUSetter parses the Kubelet checkpoint file for Device allocations
      - name: checkpointfile
        hostPath:
         path: /var/lib/kubelet/device-plugins/
      - name: kubepods
        hostPath:
         path: /sys/fs/cgroup/cpuset/
      ## The pool configuration files need to be mounted here
      - name: cpusets-configmaps
        configMap:
          name: cpusets-configmaps
      serviceAccountName:{{ include "kubeservice-cpupools-controller.controller.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}