apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-cosignkey-webhook-configuration
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app: mutating-cosignkey-webhook-configuration
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ include "kubeservice-cosign-webhook.fullname" . }}-certificate
webhooks:
  - name: cosignkey-webhook.cosign.svc
    clientConfig:
      service:
        name: {{ include "kubeservice-cosign-webhook.fullname" . }}
        namespace: {{ .Release.Namespace | quote }}
        path: "/mutate-cosign-verify"
        port: 443
    rules:
      - operations: ["CREATE", "UPDATE"]
        apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods"]
        scope: "Namespaced"
    admissionReviewVersions: ["v1","v1beta1"]
    sideEffects: None
    timeoutSeconds: 15
    failurePolicy: Ignore
    namespaceSelector:
      matchLabels:
        cosignkey.kubernetes.io/verify : enabled