apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-cosignkey-webhook-configuration
  namespace: {{ .Release.Namespace | quote }}
  labels:
    app: validating-cosignkey-webhook-configuration
  annotations:
    cert-manager.io/inject-ca-from: {{ .Release.Namespace }}/{{ include "kubeservice-cosign-webhook.fullname" . }}-certificate
webhooks:
  - name: {{ include "kubeservice-cosign-webhook.fullname" . }}.{{ .Release.Namespace }}.svc
    admissionReviewVersions: ["v1","v1beta1"]
    clientConfig:
      service:
        name: {{ include "kubeservice-cosign-webhook.fullname" . }}
        namespace: {{ .Release.Namespace | quote }}
        path: /validate-kubeservice-cn-v1-cosignkey
        port: 443
    rules:
      - operations: ["CREATE", "UPDATE"]
        apiGroups: ["kubeservice.cn"]
        apiVersions: ["v1"]
        resources: ["cosignkeys", "cosignkeys/*"]
    sideEffects: None
    timeoutSeconds: 15
    failurePolicy: Fail
    namespaceSelector:
      matchLabels:
        cosignkey.kubernetes.io/verify : enabled
